packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early
        
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDRjCCAi6gAwIBAgIBATANBgkqhkiG9w0BAQsFADAWMRQwEgYDVQQDEwszLjEy
      LjEzNC44MDAeFw0yMDAzMjYyMjU0MDZaFw0zMDAzMjYyMjU0MDZaMBYxFDASBgNV
      BAMTCzMuMTIuMTM0LjgwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
      qdmHJ66zASq1YPDGIyRJNhUSBDbCIK0DuNY3aJtHL4lzSQ6apilSwdYzRMrUiMbB
      QfKK2el9COOY/ppnvn6OEVBSoFvB82Q2OEC9EVQy8jrzlYKh6v8YU++Xx8YOW84J
      AB20sOajqWlcTOGx5501WmYS8pIX2OzVX13mn+eKrFC7423H/n9tWYP+zjkwFXav
      DZO2LT9ievU8QvlWKkVcUsIpAmMKiQcuiUNXHKN/aIHPN3/hJo+PTOzanvSxu3TR
      nIj4lnYnuXX6WgN/RLwlerXPwyRNL3Nm1/zRx8j6xAItg8ogCuSP29T+DMNzfrFI
      76AHcllSYcp0qL4dE/Y9cQIDAQABo4GeMIGbMAwGA1UdEwQFMAMBAf8wCwYDVR0P
      BAQDAgL0MDsGA1UdJQQ0MDIGCCsGAQUFBwMBBggrBgEFBQcDAgYIKwYBBQUHAwMG
      CCsGAQUFBwMEBggrBgEFBQcDCDARBglghkgBhvhCAQEEBAMCAPcwDwYDVR0RBAgw
      BocEAwyGUDAdBgNVHQ4EFgQUiTEYJTzLYRzhvbqbBkSYIXwCp58wDQYJKoZIhvcN
      AQELBQADggEBAIdhq74Bm6WPedjcY2Xgvj7vQJcLnjQJcrfXxkXlvzgFIjJPJHqm
      HF1Ptwu54G+cWBMqhnGQc1fuVbc5+phG7Fq7YK5dgW56Tp65w3HE3P797RgybaGp
      YbuyP0LvBzbFBeMpofc/E5UABMUkgK+sNo+6y1CxvOliP/ZFFyj6YVAGEQmYGaQ4
      7+IhpV0MOTUnkstw7h2znFXtKg2hdfsl7yRGuOJKS4/dp83y2ZRkuIyYrGL0KkIP
      LDvE8oasmXPV57lbOMRhuLs/XMZx88s7jqB6HxhZLoKqsrWvud1rOtCTao6z0nPz
      Ktxj8fBozWKs28gYfkU9eIiUp9MO18LIwl8=
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAqdmHJ66zASq1YPDGIyRJNhUSBDbCIK0DuNY3aJtHL4lzSQ6a
      pilSwdYzRMrUiMbBQfKK2el9COOY/ppnvn6OEVBSoFvB82Q2OEC9EVQy8jrzlYKh
      6v8YU++Xx8YOW84JAB20sOajqWlcTOGx5501WmYS8pIX2OzVX13mn+eKrFC7423H
      /n9tWYP+zjkwFXavDZO2LT9ievU8QvlWKkVcUsIpAmMKiQcuiUNXHKN/aIHPN3/h
      Jo+PTOzanvSxu3TRnIj4lnYnuXX6WgN/RLwlerXPwyRNL3Nm1/zRx8j6xAItg8og
      CuSP29T+DMNzfrFI76AHcllSYcp0qL4dE/Y9cQIDAQABAoIBAGSjBcjGYzuqwYNp
      xgxmYJaRz3X9t/JCcTUgf/4UGw6Yg11jMNCJJYbCUuhMwbc1BKb9fbX1+Wa97BXX
      COc+9xBdJkfrdjSvSMz11tCgsfsCYPdSSnwBn7mD+cudlz5gCsct0rUKQyiKy+yl
      wZJ5fHZOiqV9WHHoidiSu6Y9O9YymcDAhOgZbDgqkCEbeIxztBgniYbeu8n0iBkP
      iC1VCGhsMWhSXOv2VgiveKVlLu+lidsN25oBW0S3WeKENa2pKwkz8SN2y1jmrjnf
      rZb5sNeZjtEZ0jI0sj7+i6cYXAvEilrL/NzDqgctVy5JF029yzQjHrPe1hjqYilZ
      51XIIRECgYEA82JApgG6ieiWOSTZ0Rk66pcwpBO6OaBaMuptyVsITc5jH1VnoNW+
      HdHslCGOKmcJCXgSiau+JDHJvFfRF2nEow9C+LwzDU3hA7ncgFWt0ZFVsRagWjtV
      NXKm1L4z9Glozb2Z2mzKmSKOcAeFHKJm8tJQj9vAvENBEe+Pu2NTxz0CgYEAsqd2
      +RG2Oxfozk6I5ommtBtiWqz7uXP5s0f//PwWSXPaRpT+LHIYawJd5InShr3yThY9
      xXJH4woVnn42r/NUDR/jUx2HD8t8O8JgIacxqmsyGai7zokWLgx+k0KpUO3qQj/+
      E91E2AeAdmGyhJ8QSByzpoIkW5q4Od7OHGPQUkUCgYEAzSqQMODYLRUiPb2w2DGa
      ltMor8fpflaMcstoDQtuLpjCulE2cEB+aYjjE+RNgbUlyxOrHN7oBH7r/pdQrZn9
      py9gV2ne52I1QvzUwmJ3imgngob+WdIWfF3QARrtlSWesYEZRyXai8izpgDQ11iX
      zC46t2qaSJmxKrt1wJN0tkkCgYEAD3pu1llwfmIt62HmfoLCjKwqs0x1arXflmbQ
      iOyWSbrd2GukMdmYv/yugdRnBwGB8r3+kBK8o7EF+ntY5ZmhWJnAqjzOrNGma88F
      YSUJKoirCIoT62r5Hvg6JywJW1ehiifdLX9oLYdI2/jO7KqTUIwcDHsOB1m6SFlD
      ZjZHoDkCgYBOp5JxhXvHjGNZxLVkKwwm+Ry6PeXxsz0B3PJvSLnQNYPay7rbi7xD
      zmdhKmfwpqZwR+rGuYRpmeFvRwXPDZN3iCzciRUlhewM/2XSgmWMJtDC2j4HwXMt
      9juX09LfsgdwaUfWNNh7/3oxKJwr7NYnE2klQAQsX+mTSKsEWF1l3A==
      -----END RSA PRIVATE KEY-----

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
